.btn {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    transition: background-color 0.2s;
}

.tube {
    display: grid;
    grid-template-columns: minmax(120px, auto) 50px 1fr auto;
    gap: 0.5rem;
    padding: 0.5rem;
    align-items: center;
    border-radius: 0.5rem;
}

.tube-name {
    font-weight: 500;
    white-space: pre-wrap;
    word-break: break-word;
}

.tube-quantity {
    width: 50px;
    text-align: center;
}

.tube-usage {
    color: var(--gray-500);
}

.tube.editing {
    background-color: var(--gray-100);
}

.tube.editing input {
    padding: 0.5rem;
    border: 1px solid var(--gray-200);
    border-radius: 0.25rem;
    background: white;
    font-size: inherit;
}

.tube.editing .tube-name {
    width: 100%;
}

.tube.editing .tube-quantity {
    width: 50px;
}

.tube.editing .tube-usage {
    width: 100%;
}